@import './utils.scss';

.Home {
  padding-top: 80px;
  height: 1000vh;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #494c62;
  }

  .carousel {
  }

  section.new-ani-list {
    ul.contents-wrap {
      display: flex;

      justify-content: space-between;

      li {
        flex: 1;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
        // width: 185px;
        // width: 185.6px;
        .thumbnail {
          height: 238px;
          background-image: url('https://image.laftel.net/items/thumbs/large/f838ac8f-39c8-4f09-be41-3d3331717d92.jpg');
          background-size: cover;
          background-position: 50%;
          background-repeat: no-repeat;
        }
        .details {
          padding: 1rem;

          background-color: white;
          .gnre {
            color: $color_main_accent;
            font-size: 1.2em;
          }
          .title {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
